*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: black;
}
#navLinks{
    display: flex;
    flex-grow: 1;
    flex:row wrap;
    list-style-type: none;
    justify-content: center;
    background-color: rgb(78, 53, 4);
    padding:20px;
}
nav ul li a{
    text-align: center;
    color: #fff;
}
#navLinks li a{
    margin: 40px;  
    text-align: center; 
}
#navLinks li a:hover{
    border-bottom: 1px solid goldenrod; 
}
.each-col{
    border:1px solid red;

}
#technologiesPage{
    display: flex;
    flex-grow: 1;
    flex-direction:row;
    flex-wrap: wrap; 
    margin-top:10px; 
    justify-content: center;  
}
.dom-items{
    align-self: stretch; 
    padding: 2px;    
    margin:2px;
    flex-basis: 20%;
    text-align: center;
    word-wrap: break-word;
}
#projectsPage{
    display: flex;
    flex-grow: 1;
    flex-direction:row;
    flex-wrap: wrap; 
    margin-top:10px; 
    margin-left: 150px;
    margin-right: 150px;
}
.project-items{
    align-self: stretch; 
    padding: 2px;    
    margin-top:20px;
    flex-basis: 20%;
    text-align: left;
    word-wrap: break-word;
    border: 1px solid rgb(87, 72, 139);
    border-radius: 10px;
    margin:10px;
    padding: 10px;
    flex-basis: 30%;
    align-items: flex-start;
}
.my-bio{
    margin-top:20px;
    margin-left:250px;
    margin-right:250px;
    line-height: 1.5;
}
.project-items p:first-child{
    font-weight: bold;
}
.project-items h4, .descritption{
    text-align: center;
}