*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: black;
}
body{
    padding-bottom: 10px;
    position: relative;
    min-height: calc(100vh-109px);
}
#navLinks{
    display: flex;
    flex-grow: 1;
    flex:row wrap;
    list-style-type: none;
    justify-content: center;
    background-color: rgb(78, 53, 4);
    padding:20px;
}
nav ul li a{
    text-align: center;
    color: #fff;
}
#navLinks li a{
    margin: 40px;  
    text-align: center; 
}
#navLinks li a:hover{
    border-bottom: 1px solid goldenrod; 
}
.each-col{
    border:1px solid grey;
}
#technologiesPage{
    display: flex;
    flex-grow: 1;
    flex-direction:row;
    flex-wrap: wrap; 
    margin-top:20px; 
    justify-content: flex-start;
    margin-left: 200px;
}
.list-of-technologies{
    flex-basis: 30%;
    padding: 10px;
}
#projectsPage{
    display: flex;
    flex-grow: 1;
    flex-direction:row;
    flex-wrap: wrap; 
    margin-top:10px; 
    margin-left: 150px;
    margin-right: 150px;
}
.project-items{
    align-self: stretch; 
    margin-top:20px;
    text-align: left;
    word-wrap: break-word;
    border: 1px solid rgb(87, 72, 139);
    border-radius: 10px;
    margin:10px;
    padding: 10px;
    flex-basis: 40%;
    align-items: flex-start;
}
.my-bio{
    margin-top:20px;
    margin-left:200px;
    margin-right:250px;
    line-height: 1.5;
}
.project-title,.descritption,.technologies-used-in-this-proj{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 10px;
}
.project-items p img{
    max-width: 100%;
    max-height: auto;
    margin: 0 auto;
}
.available{
    margin-bottom: 15px;
}
i a, em a{
    text-decoration: none;
    border-radius: 15px;
    padding: 5px;
    background-color:#0083ce;
    color: #fff;
}
.view-project,.project-link{
    margin-bottom: 10px;
}
.view-project{
    margin-right: 20px;
}
.project-link a{
    text-decoration: none;
}
.page-footer img{
    width:30px;
    height:30px;
    text-align: center;
    margin-left: 250px;
    margin-right: auto;
    border-radius: 50%;
    padding: 2px;
}
.page-footer{
    bottom: 0px;
    border-top: 1px solid grey;
    background-color:rgb(41, 37, 29);
    position: fixed;
    min-height: 40px;
    padding:10px;
    min-width: 100vw;
    z-index: 1;
}
main{
    min-height: calc(100vh-58.67px-85px);
    padding-bottom: 85px;
}
.page-footer a{
    width: 30px;
}